.welcome__header{
    text-align: center;
}
.welcome__search{
    text-align: center;
}

.cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding-top: 2em;
}
    

.cards__item{
    height: 20em;
    width: 15em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 1em;
    background-color: rgba(0,0,0,0.2);
}

.cards__item__image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.else{
    text-align: center;
    margin-top: 2em;
}

.favorites {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-top: 2em;

}

.row {
  display: flex;
}

.column {
  flex: 40%;
  margin-left: 1em;
}

.content-header{
    text-align: center;
    margin-top: 1em;
}